header {
    background-image: url('../images/coverPic.jpg');
    background-size: cover;
    height: 100vh;
    display: none;
}

h1, h2 {
    color: white;
    text-align: center;
    padding-right: 20rem;
    font-family: 'Cherry Swash', cursive;
}

h1 {
    font-size: 6rem;
    padding-top: 8rem;
}

#start-btn-div {
    text-align: center;
    padding-right: 20rem;
    margin-top: 2rem;
}

#start-btn {
    font-weight: bold;
    animation-name: start-button-fade;
    animation-duration: 7s;
}

main {
    /* display: none; */
    background-size: cover;
    animation-name: main-carousel;
    animation-duration: 90s; 
    animation-iteration-count: infinite;
}

.question {
    font-weight: 500;
    font-size: 1.2rem;
    color: black;
}



#grade-div {
    display: none;
}


@keyframes main-carousel {
    0% {background-image: url('../images/gasMask.jpg')}
    25% {background-image: url('../images/howitzerCrew.jpg')}
    50% {background-image: url('../images/machineGun.jpg')}
    75% {background-image: url('../images/parisGun.jpg')}
    100% {background-image: url('../images/trench.jpg')}
}

@keyframes start-button-fade {
    from {opacity: 0;}
    to {opacity: 1;}
}