header {
    background-image: url('../images/coverPic.jpg');
    background-size: cover;
    height: 100vh;
    display: none;  /* Not displayed! */
}

h1, h2 {
    color: white;
    text-align: center;
    padding-right: 20rem;
    font-family: 'Cherry Swash', cursive;
}

h1 {
    font-size: 6rem;
    padding-top: 8rem;
}

#timer-display {
    font-size: 1.5rem;
    font-weight: 500;
}


#start-btn-div {
    text-align: center;
    padding-right: 20rem;
    margin-top: 2rem;
}

#start-btn {
    font-weight: bold;
    animation-name: start-button-fade;
    animation-duration: 7s;
}

main {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: main-carousel;
    animation-duration: 90s; 
    animation-iteration-count: infinite;
}

.question {
    font-weight: 500;
    font-size: 1.2rem;
    color: black;
    margin-top: 15px;
}

#rememberance-text {
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}



#grade-div {
    /* display: none; */
}


@keyframes main-carousel {
    0% {background: linear-gradient(to top, #fff, transparent 50%), url('../images/gasMask.jpg')}
    50% {background: linear-gradient(to top, #fff, transparent 90%), url('../images/howitzerCrew.jpg')}
    75% {background: linear-gradient(to top, #fff, transparent 90%), url('../images/machineGun.jpg')}
    100% {background: linear-gradient(to top, #fff, transparent 90%), url('../images/trench.jpg')}
}

@keyframes start-button-fade {
    from {opacity: 0;}
    to {opacity: 1;}
}